<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>story 7</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'gantiTema.js' %}"></script>
  <script type="text/javascript" src="{% static 'tutupAccordion.js' %}"></script>

</head>
<body id = "body" background="{% static 'images/thumbnail_yellowhalftone.jpg' %}" style="background-repeat: no-repeat;">
  <h1 style="text-align: center;" class="m-5">Profil</h1>
  <div class="container justify-content-center text-center" style="text-align: center; max-width: 500px;">
<div id="accordion" class="card m-5 justify-content-center">
  <h3 id="accAtas">Aktivitas saat ini</h3>
  <div>
    <p>OTW top global</p>
  </div>
  <h3 id="accTengah">Organisasi/kepanitiaan</h3>
  <div>
    <p>Organisasi Pemuda Tampan</p>
  </div>
  <h3 id="accBawah">Prestasi</h3>
  <div>
    <p>...</p>
  </div>
</div>
<button id = "btnGanti" class="btn btn-primary">Ganti Tema</button>
</div>

 
</body>
</html>